#img-cats {
    width: 500px;
    height: 500px;
    margin-bottom: 25px;
}

#btn-cats {
    padding: 10px;
    width: 500px;
    background-color: #696969;
    border: solid 1.5px transparent;
    border-radius: 5px;
    font-size: 35px;
    font-weight: bold;
}

#btn-cats:hover {
    background-color: #404040;
    color: white;
}

#error-cats {
    margin-top: 400px;
}

#loading-cats {
    margin-top: 400px;
}